<section>
    <section id="section-a">
        <div class="footer">
            <footer>
              <div class="containerapellidos">
                <p class="apellidos">Manuel Eduardo Firpo  &nbsp;|&nbsp; Tomas Lopez Saavedra  &nbsp;|&nbsp; Agustin Cutre</p>
              </div>
                <div class="subfooter">
                    <a href="mailto:info@volti.com">info@volti.com</a>
                 <div class="loguitos">
                <img src="/images/logoVolti.png" alt="100" width="100">
                &nbsp;&nbsp;
                <img class="loguito" src="/images/logo tmbd.png" alt="50" width="50">

              </div>
              </div>
            </footer>
      </section>
</section>
</body>
</html>
