<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
     <link rel="stylesheet" href="/stylesheets/responsive-volti.css" type="text/css">
     

     <script src="/javascripts/index.js"></script>
     <script src="/javascripts/menu-nav.js"></script>
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/responsive-volti.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
      <title> Volti </title>
</head>
<body>
  <nav >
    <div class="topnav uk-navbar-nav" id="myTopnav">
      <a href="/" class="active">Inicio</a>
      <a href="listaGeneros.ejs">Generos</a>
      <a href="/buscadorAvanzado">Buscador Avanzado</a>
      <a href="/registrarse">Registrarse</a>
      <a href="/buscadorDeUsuarios">Buscador De Usuarios</a>
      <a href="/misResenas">Mis Reseñas</a>
      <a href="/login" id="login"> Login </a>
      
      <!-- <a style="margin-left: 100px; margin-top: 10px;" href="#" id="search-"> <input type="text" placeholder="Search.."></a> -->
      <!-- <div class="contenedorBuscador"> -->
       <a > <form method="get" name="buscar" action="/buscador" class="buscar" id="buscar2">
              <input class="uk-search-input casillero" name="buscador" type="search" placeholder="Search...">
              <button><span class="iconoBuscador" uk-search-icon id="btn-buscar"></span></button>
          </form></a>
      <!-- </div> -->

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    </nav>


    <header id="showcase">
       <h1 class="bienvenidos">Bienvenidos a  Volti </h1>
       <p>Peliculas y series</p>
       <a class="button" href="#">Mirar ahora gratis</a>
    </header>

    <section id="section-b">
       <p>Volti es absolutamente gratis</p>
    </section>

    <section id="section-c">
      <div class="box-1">
        <p>Contratar plan básico</p>
      </div>
      <div class="box-2">
        <p>Contratar plan estandar</p>
      </div>
      <div class="box-3">
          <p>Contratar plan premium</p>
      </div>


    </section>

    <div class="sectionsdeseries">
    <section class="seriespopulares">
      <h3>Series Populares</h3>
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
        <ul id="carrousel-popular" class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid"> </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>
    </section>
    <section class="seriesconmayorpuntaje">
      <h3>Series Con Mayor Puntaje</h3>
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
        <ul id="carrousel-mayorpuntaje" class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid"> </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>
     </section>
    <section class="seriesalairehoy">
       <h3>Series Al Aire Hoy</h3>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
         <ul id="carrousel-alairehoy" class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid"> </ul>
         <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
         <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </section>
    </div>

    <section>
        <section id="section-a">
            <div class="footer">
                <footer>
                  <div class="containerapellidos">
                    <p class="apellidos">Manuel Eduardo Firpo  &nbsp;|&nbsp; Tomas Lopez Saavedra  &nbsp;|&nbsp; Agustin Cutre</p>
                  </div>
                  <div class="subfooter">
                    <a href="mailto:info@volti.com">info@volti.com</a>
                  <div class="loguitos">
                    <img src="/images/logoVolti.png" alt="100" width="100">
                    &nbsp;&nbsp;
                    <img class="loguito" src="images/logo tmbd.png" alt="50" width="50">
                  </div>
                  </div>
                </footer>
          </section>
    </section>
</body>
</html>