<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script src="/javascripts/buscadorAvanzado.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
  

  <script src="/javascripts/menu-nav.js"></script>
  <link rel="stylesheet" href="/stylesheets/responsive-volti.css" type="text/css">
  <title>Volti
  </title>
</head>
<body>
  <nav >
    <div class="topnav uk-navbar-nav" id="myTopnav">
      <a href="/" class="active">Inicio</a>
      <a href="#">Generos</a>
      <a href="/buscadorAvanzado">Buscador Avanzado</a>
      <a href="/registrarse">Registrarse</a>
      <a href="/buscadorDeUsuarios">Buscador De Usuarios</a>
      <a href="/misResenas">Mis Reseñas</a>
      <a href="#about" id="login"> Login </a>
      <a style="margin-left: 100px; margin-top: 10px;" href="#about" id="search-"> <input type="text" placeholder="Search.."></a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    </nav>




<div class="container marketing">

   <h1>Registrate!</h1>
   <form action="/registrarse" method="POST">
<div> 
    <label for="">Nombre</label>
    <input type="text" name="nombreCompleto">

</div>

<div> 
    <label for="">Email</label>
    <input type="email" name="email">
    
</div>
<div> 
    <label for="">Contrasena</label>
    <input type="password" name="password">
    
</div>
<div> 
    <label for="">Fecha de Nacimiento</label>
    <input type="date" name="fechaNacimiento">
    
</div>
<button type="submit">Registrarse</button>


</form>

    <!-- /.row -->

  </div><!-- /.container -->

<br>

      <section>
          <section id="section-a">

              <div class="footer">
                  <footer>
                    <div class="containerapellidos">
                      <p class="apellidos">Manuel Eduardo Firpo  &nbsp;|&nbsp; Tomas Lopez Saavedra  &nbsp;|&nbsp; Agustin Cutre</p>
                    </div>
                      <div class="subfooter">
                          <a href="mailto:info@volti.com">info@volti.com</a>
                       <div class="loguitos">
                      <img src="/images/logoVolti.png" alt="100" width="100">
                      &nbsp;&nbsp;
                      <img class="loguito" src="/images/logo tmbd.png" alt="50" width="50">

                    </div>
                    </div>
                  </footer>
            </section>
      </section>


</body>
</html>






